@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div id="carousel-home">
        <div class="owl-carousel owl-theme">
            @foreach (var slider in Model.Sliders)
            {
                <div class="owl-slide cover lazy" data-bg="url(uploads/sliders/@slider.ImageUrl)">
                    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                        <div class="container">
                            <div class="row justify-content-center justify-content-md-end">
                                <div class="col-lg-6 static">
                                    <div class="slide-text text-end white">
                                        <h2 class="owl-slide-animated owl-slide-title">@slider.Title</h2>
                                        <p class="owl-slide-animated owl-slide-subtitle">
                                            @slider.Description
                                        </p>
                                        <div class="owl-slide-animated owl-slide-cta"><a class="btn_1 btn_scroll" href="@slider.RedirectUrl" role="button">@slider.RedirectText</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div id="icon_drag_mobile"></div>
    </div>
    <!--/carousel-->

    <ul id="banners_grid" class="clearfix">
        @foreach (var banner in Model.Banners)
        {
            <li>
                <a href="@banner.RedirectUrl" class="~/assets/img_container">
                    <img height="220px" width="572px" src="~/assets/img/banners_cat_placeholder.jpg" data-src="uploads/banners/@banner.ImageUrl" alt="" class="lazy">
                    <div style="text-align:center" class=" margin_80_60 short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                        <h3 style="color:white">@banner.Title</h3>
                        <p style="color:white">@banner.Description</p>
                    </div>
                </a>
            </li>
        }

    </ul>
    <!--/banners_grid -->

    <div class="pattern_2">
        <div class="container margin_120_100 home_intro">
            <div class="row justify-content-center d-flex align-items-center">
                @foreach (var about in Model.Abouts)
                {
                    <div class="col-lg-5 text-lg-center d-none d-lg-block" data-cue="slideInUp">
                        <figure>
                            <img src="~/assets/img/home_1_placeholder.png" data-src="uploads/abouts/@about.ImageUrl" width="354" height="440" alt="" class="~/assets/img-fluid lazy">
                            <a href="@about.RedirectUrl" class="btn_play" data-cue="zoomIn" data-delay="500"><span class="pulse_bt"><i class="arrow_triangle-right"></i></span></a>
                        </figure>
                    </div>
                    <div class="col-lg-5 pt-lg-4" data-cue="slideInUp" data-delay="500">
                        <div class="main_title">
                            <span><em></em></span>
                            <h2>@about.Title</h2>
                            <p>@about.Description</p>
                            <p><img src="~/uploads/abouts/@about.SignatureImageUrl" width="140" height="50" alt="" class="mt-3"></p>
                        </div>
                        <!--p><img src="~/assets/img/signature.png" width="140" height="50" alt="" class="mt-3"></-->
                    </div>
                }

            </div>
            <!--/row -->
        </div>
        <!--/container -->
    </div>
    <!--/pattern_2 -->

    <div class="bg_gray">
        <div class="container margin_120_100" data-cue="slideInUp">
            <div class="main_title center mb-5">
                <span><em></em></span>
                <h2>Our New Foods</h2>
            </div>
            <!-- /main_title -->
            @foreach (var wrapper in Model.Wrappers)
            {
                <div class="banner lazy" data-bg="url(uploads/wrappers/@wrapper.ImageUrl)">
                    <div class="wrapper d-flex align-items-center justify-content-between opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                        <div>
                            <small>@wrapper.Title</small>
                            <h3>@wrapper.Description</h3>
                            <p>@wrapper.SubDescription</p>
                            <a href="@wrapper.RedirectUrl" class="btn_1">@wrapper.RedirectText</a>
                        </div>
                        <!--/figure class="d-none d-lg-block"><img src="~/assets/img/banner.svg" alt="" width="200" height="200" class="~/assets/img-fluid"></!-->
                    </div>
                </div>
            }
            <!-- /wrapper -->
            <!-- /banner -->
            <div class="row magnific-gallery homepage add_bottom_25">
                @foreach (var food in Model.Foods)
                {
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item">
                            <figure>
                                <a href="~/assets/img/menu_items/large/3.jpg" title="Summer Berry" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="uploads/foods/@food.ImageUrl" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>@food.Name</h3><em>$@food.Price</em>
                            </div>
                            <p>@food.Composition</p>
                        </div>
                    </div>
                }

            </div>
            <!-- /row -->
            <p class="text-center"><a href="#0" class="btn_1 outline" data-cue="zoomIn">Download Menu</a></p>
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_gray -->
    @foreach (var offer in Model.Offers)
    {
        <div class="call_section lazy" data-bg="url(uploads/offers/@offer.ImageUrl)">
            <div class="container clearfix">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 text-center">
                        <div class="box_1" data-cue="slideInUp">
                            <h2>@offer.Title<span>@offer.SubTitle</span></h2>
                            <p>@offer.Description</p>
                            <a href="@offer.RedirectUrl" class="btn_1 mt-3">@offer.RedirectText</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--/call_section-->
    <!-- /pattern_2 -->
</main>
<!-- /main -->