@model MenuViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio - Eterna Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/new/img/favicon.png" rel="icon">
    <link href="~/new/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/new/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/new/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/new/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/new/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/new/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/new/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/new/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Eterna
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


   

    <main id="main">

        @foreach(var slider in Model.Sliders)
        {
            <div class="hero_single inner_pages background-image" data-background="url(uploads/sliders/@slider.ImageUrl)">
                <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-lg-10 col-md-8">
                                <h1>@slider.Title</h1>
                                <p> @slider.Description</p>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <div class="frame white"></div>
            </div>
        }






        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            @foreach(var category in Model.Categories)
                            {
                                <li data-filter=".filter-@category.Id">@category.Name</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    @foreach(var food in Model.Foods)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-@food.Category.Id">
                            <div class="menu_item">
                                <figure>
                                    <a href="img/menu_items/large/1.jpg" title="Soft shell crab" data-effect="mfp-zoom-in">
                                        <img src="img/menu_items/menu_items_placeholder.png" data-src="uploads/foods/@food.ImageUrl" class="lazy" alt="">
                                    </a>
                                </figure>
                                <div class="menu_title">
                                    <h3>@food.Name</h3><em>$@food.Price</em>
                                </div>
                                <p>@food.Composition</p>
                            </div>
                        </div>
                    }

                 

                </div>

            </div>
        </section><!-- End Portfolio Section -->
        
    </main><!-- End #main -->
    

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/new/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/new/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/new/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/new/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/new/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/new/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/new/js/main.js"></script>

</body>

</html>