
@model ContactViewModel
@inject ContactService service
@{
	ViewData["Title"] = "Index";
	var Setting = await service.GetSetting();
}


	<main>
	@foreach(var slider in Model.Sliders)
	{

		<div class="hero_single inner_pages background-image" data-background="url(uploads/sliders/@slider.ImageUrl)">
			<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-9 col-lg-10 col-md-8">
							<h1>@slider.Title</h1>
							<p>@slider.Description</p>
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
			<div class="frame white"></div>
		</div>
	}
	<!-- /hero_single -->

		<div class="bg_gray margin_60_30">
			<div class="container margin_120_100">
				<div class="row justify-content-center">
					<div class="col-lg-4">
						<div class="box_contacts">
							<i class="icon_tag_alt"></i>
							<h2>Reservations</h2>
						<a >@Setting.FirstOrDefault(s=>s.Key=="Phone").Value</a> - <a>@Setting.FirstOrDefault(s=>s.Key=="E-mail").Value</a>
						@if (!User.Identity.IsAuthenticated)
						{
							<small>- <a asp-action="login" asp-controller="account" >Or use the online form</a> -</small>
						}
						else
						{
							<small>-<a asp-action="index" asp-controller="reservation">Or use the online form</a> -</small>
						}
							
						</div>
					</div>
					<div class="col-lg-4">
						<div class="box_contacts">
							<i class="icon_pin_alt"></i>
							<h2>Address</h2>
						<div>@Setting.FirstOrDefault(s=>s.Key=="Address").Value</div>
							<br />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="box_contacts">
							<i class="icon_clock_alt"></i>
							<h2>Hours</h2>
						<div>@Setting.FirstOrDefault(s=>s.Key=="Opening Hours").Value</div><br />
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_gray -->
		<!-- /container -->

	</main>
	<!-- /main -->

	
